<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'bSnap', root_path, html_options = { class: "navbar-brand"} %>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li> <%= link_to 'Posts', posts_path %> </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

    </ul>
  </div>
</nav>